main.ExerciseDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}

main.ExerciseDetail > p.Error {
  margin-top: 1.5rem;
}

ul.ExerciseList {
  margin-top: 2rem;
  list-style: none;
}

ul.ExerciseList > li {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  border: 5px solid black;
}

ul.ExerciseList > li:not(:first-child) {
  margin: 1rem 0;
}

ul.ExerciseList > li > div.List {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.ExerciseList > li > div.List > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

ul.ExerciseList > li > div.List > p {
  font-size: 1.5rem;
}

ul.ExerciseList > li > div.List > p > span {
  font-weight: bold;
}

ul.ExerciseList > li > div.List > img.ImageDetails {
  max-width: 100%;
  max-height: 100%;
}

ul.ExerciseList > li > footer > div.LikesFav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

ul.ExerciseList > li > footer > div.LikesFav > div.Likes {
  display: flex;
  flex-direction: column;
}

ul.ExerciseList > li > footer > div.LikesFav > div.Likes > p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

ul.ExerciseList > li > footer > div.LikesFav > div.NotAddedFavourite {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: 150px;
  font-size: 1.3rem;
}

ul.ExerciseList > li > footer > div.LikesFav > div.AddedFavourite {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: 150px;
  font-size: 1.3rem;
}
ul.ExerciseList > li > footer > div.LikesFav > div.AddedFavourite > button {
  background-color: var(--dark-blue-green-color);
  color: white;
  width: 150px;
  font-size: 1.3rem;
}

ul.ExerciseList > li > footer > div.LikesFav > div.NotAddedFavourite > button {
  background-color: white;
  width: 150px;
  font-size: 1.3rem;
}

ul.ExerciseList
  > li
  > footer
  > div.LikesFav
  > div.AddedFavourite
  > button:hover {
  cursor: pointer;
  background-color: var(--dark-blue-green-color);
  color: white;
  transition: 0.2s;
}

ul.ExerciseList
  > li
  > footer
  > div.LikesFav
  > div.NotAddedFavourite
  > button:hover {
  cursor: pointer;
  /* background-color: var(--dark-blue-green-color);
  color: white;
  transition: 0.2s; */
}

ul.ExerciseList > li > footer > div.Changing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid black;
  padding: 1rem;
}

ul.ExerciseList > li > footer > div.Changing > button {
  width: 150px;
  font-size: 1.5rem;
}

ul.ExerciseList > li > footer > div.Changing > button:hover {
  cursor: pointer;
  background-color: var(--dark-blue-green-color);
  color: white;
  transition: 0.2s;
}

ul.ExerciseList > li > footer > div.LikesFav > div.Likes > div.heart {
  cursor: pointer;
  height: 7.3rem;
  width: 7.3rem;
  background-image: url('/public/heart_animation.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;
}

ul.ExerciseList > li > footer > div.LikesFav > div.Likes > div.heart:hover {
  background-position: right;
}

ul.ExerciseList
  > li
  > footer
  > div.LikesFav
  > div.Likes
  > div.heart.IsAnimating {
  animation: heart-burst 0.8s steps(28) 1;
  animation-fill-mode: forwards;
}

ul.ExerciseList > li > footer > div.LikesFav > div.Likes > div.heart.NotLiked {
  background-image: url('/public/heart_animation.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;
}

ul.ExerciseList > li > footer > div.LikesFav > div.Likes > div.heart.Liked {
  animation: heart-burst 0s steps(28) 1;
  animation-fill-mode: forwards;
}

ul.ExerciseList
  > li
  > footer
  > div.LikesFav
  > div.Likes
  > div.heart.IsAnimatingFor {
  animation: heart-burst 0.8s steps(28) 1;
  animation-fill-mode: forwards;
  transform-origin: 0 100%;
}

ul.ExerciseList
  > li
  > footer
  > div.LikesFav
  > div.Likes
  > div.heart.IsAnimatingBack {
  animation: heart-repaired 0.8s steps(28) 1;
  animation-fill-mode: backwards;
  transform-origin: 100% 100%;
  background-image: url('/public/heart_animation.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;
}

@keyframes heart-burst {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

@keyframes heart-repaired {
  from {
    background-position: right;
  }
  to {
    background-position: left;
  }
}

ul.ExerciseList > li > footer > div.Changing > a.Update {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  width: 150px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: white;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
  border-radius: 20%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin: 1rem 0;
  text-decoration: none;
  color: black;
}
ul.ExerciseList > li > footer > div.Changing > a.Update:active {
  box-shadow: -3px -3px 0px rgba(0, 0, 0, 0.4);
}

ul.ExerciseList > li > footer > div.Changing > a.Update:hover {
  cursor: pointer;
  background-color: var(--dark-blue-green-color);
  color: white;
  transition: 0.2s;
}

@media only screen and (min-width: 600px) {
  ul.ExerciseList > li > footer > div > p {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 760px) {
  main.ExerciseDetail > p.Error {
    font-size: 1.6rem;
  }

  main.ExerciseDetail > ul.ExerciseList {
    width: 700px;
  }

  main.ExerciseDetail > ul.ExerciseList > li {
    width: 650px;
  }

  ul.ExerciseList > li > div.List > p {
    font-size: 2rem;
  }

  ul.ExerciseList > li > footer > div > p {
    font-size: 1.5rem;
  }

  ul.ExerciseList > li > footer > div.LikesFav > div.Likes > p {
    font-size: 1.4rem;
  }

  ul.ExerciseList > li > footer > div.LikesFav > div.NotAddedFavourite > button,
  ul.ExerciseList > li > footer > div.LikesFav > div.AddedFavourite > button,
  ul.ExerciseList > li > footer > div.Changing > button,
  ul.ExerciseList > li > footer > div.Changing > a.Update {
    width: 170px;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  ul.ExerciseList > li > div.List > p {
    font-size: 2.5rem;
  }

  ul.ExerciseList > li > footer > div.LikesFav > div.Likes > p {
    font-size: 1.6rem;
  }

  ul.ExerciseList > li > footer > div.LikesFav > div.AddedFavourite > button,
  ul.ExerciseList > li > footer > div.LikesFav > div.NotAddedFavourite > button,
  ul.ExerciseList > li > footer > div.Changing > button,
  ul.ExerciseList > li > footer > div.Changing > a.Update {
    width: 200px;
    font-size: 1.9rem;
  }
}
