* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-color: rgba(0, 75, 75, 0.7);
  --blue-green-colour: rgba(0, 139, 139, 0.7);
  --error-colour: rgb(187, 36, 36);
}

p.Error {
  color: var(--error-colour);
  font-weight: bold;
}
